*{
    padding: 0;
    margin: 0;
    font-family: 'Amiri Quran';
    line-height: 23px;
}
body{
    padding: 15px;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
@media screen and (max-width: 576px) {
    body{
        padding: 0px;
        height: 100%;
    }
    .container-wrapper{
        flex-direction: column;
        border-radius: 0px;
        padding-top: 15px;
        margin: 0px;
        width: 100vw;
        max-width: 576px;
        min-height:100%;
    }
    .navbar{
        padding-right: 20px;
    }
    .nav-links-container{
        align-items: center;

    }
    .nav-links div{
        padding: 10px 0px;
    }
    .info-wrapper{
        order:2;
        width:100%;
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        
    }
    .main-container{
        flex: 1 1 auto;
    }
    .img-wrapper{
        order:1;
        max-width:100%;
        content: url(./src/photo-min.jpg);
        margin:0 auto;
        width:45%;
        box-shadow: -1px -1px 15px #8c8c8c, 1px 1px 15px #8c8c8c;
        border-radius: 50%;
    }
    footer{
        justify-content: space-between;
        align-items: center;
    }

}
@media screen and (min-width: 576px){


.container-wrapper{
    background-color: #E2F9F3;
    border-radius: 30px;
    display:flex;
}
.nav-links-container{
    /* flex: 1 1 auto;
    display: flex;
    justify-content: center; */
    padding-right: 30px;
}
.info-wrapper{
    display: flex;
    /* border:1px solid red; */
    flex-direction: column;
    min-width: 450px;
    max-width: 450px;
    flex: 2 3 auto;
}
.nav-links a{
    font-size: 1.2rem;
    /* text-decoration: none;
    color: #000;
    cursor: pointer; */
}
.main-container{
    min-width: 450px;
    /* flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center; */
}
/* .nav-links{
    display: flex;
    width: 100%;
    max-width: 300px;
} */
/* .nav-links div{
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #8c8c8c;
} */
/* .nav-links div:hover{
    border-bottom: 2px solid;
    padding-top: 1px;
} */
/* .img-wrapper{
    flex: 0 0 470px;
} */
/* .img-photo{
    width: 100%;
    height:100%;
    border-radius: 30px;
    box-shadow: -4px 1px 10px #8c8c8c; 
} */
/* footer{
    padding: 20px 0px;
    display: flex;
    justify-content: space-around; 
    align-items: center;
} */


}

.container-wrapper{
    background-color: #E2F9F3;
    /* border-radius: 30px; */
    display:flex;
}
.navbar{
    display: flex;
}
.nav-brand-img{
    filter: invert(65%);
}
.nav-links-container{
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
}
.nav-links{
    display: flex;
    width: 100%;
}
.nav-links div{
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #8c8c8c;
}
.nav-links div:hover{
    border-bottom: 2px solid;
    padding-top: 1px;
}
.nav-links a{
    /* font-size: 1.2rem; */
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
.main-container{
    flex: 1 1 auto;
    display: flex;
    /* min-width: 450px; */
    justify-content: center;
    align-items: center;
}
.home-page{
    width: 80%;
}
.home-page .position{
    position: relative;
    left: -10px;
    margin-bottom: 10px;
}
.home-page .name{
    margin-bottom: 15px;
}
.home-page .description{
    position: relative;
    left: 15px;
    text-align: justify;
    padding: 15px;
}
.portfolio-wrapper{
    display: flex;
    flex-direction: column;
}
.portfolio-wrapper a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color:#000;
    padding-bottom: 5px;
    padding-left: 5px;
    border-radius: 0px 0px 0px 7px;
    margin-bottom: 15px;
    border-bottom: 1px solid #8c8c8c
}
.portfolio-wrapper a:hover{
    border-bottom: 2px solid #000;
    padding-top: 1px;
    margin-bottom: 14px;
    margin-top: -1px;
    border-radius: 0px 0px 0px 7px;
}
.portfolio-wrapper a img{
    width: 30px;
}
.portfolio-name{
    position: relative;
    top: -5px;
    margin-right: 5px
}
.list-stack{
    list-style: circle;
}
/* .img-photo{
    width: 100%;
    height:100%;
    border-radius: 30px;
    box-shadow: -4px 1px 10px #8c8c8c; 
} */
footer{
    display: flex;
    padding: 20px 10px;
    align-items: center;
}
.social-links img{
    transition: transform .1s;
}
.social-links img:hover{
    transform: scale(1.1);
}
.custom-color{
    color: #8c8c8c;
}