body{
    padding: 15px;
    margin: 0;
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
#container-wrapper{
    background-color: #E2F9F3;
    border-radius: 30px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    min-width: 700px;
    max-width: 992px;
    height: 100vh;
    min-height: 700px;
}
header{

}
.navbar{
    display: flex;
}
.nav-brand{
    margin: 10px 0px 0px 15px;
    filter: invert(65%);
}
.nav-links{
    border-bottom: 1px solid #adadad;
    /* flex: 1 1 auto; */
    margin:0px 100px;
    min-width: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}
.nav-links a{
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}
.nav-links a:hover{
    border-bottom: 1px solid;
}





#info-wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main-container{
    flex: 1 1 auto
}
.list-links{
    display: flex;
    flex-direction: column;
}
.home-page{
    /* border: 1px solid green; */
    max-width: 400px;
    margin: 150px auto 0px;
}
#img-wrapper{
    background-color: red;
    border-radius: 30px;
    width:50%;
}
footer{
    /* border: 1px solid blue; */
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.custom-color{
    color: #8c8c8c;
}