<div class="home-page">
  <h4 class="custom-color position">Frontend developer</h4>
  <h1 class="custom-color name">Ilia Krasnoper</h1>
  <p class="description text">
    Frontend developer with 2 years of experience, residing in
    Kyiv, possessing expertise in creating user interfaces for web
    applications. My experience includes working on various projects, ranging
    from responsive websites to mobile applications. Committed to continuous
    professional growth, I actively pursue learning new technologies and methods
    to optimize development processes. Ready to effectively collaborate within a
    team, completing tasks within agreed timelines.
  </p>
</div>
