<div class="portfolio-wrapper">

    <a target="_blank" href="https://ilia10101000.github.io/chatbook/"><span class="portfolio-name text">Chatbook</span></a> 
    <a target="_blank" href="https://ilia10101000.github.io/trans-crm/"><span class="portfolio-name text">Transition CRM</span></a> 
    <a target="_blank" href="https://ilia10101000.github.io/fake_store/"><span class="portfolio-name text">Shop Nova Poshta API</span></a> 
    <a target="_blank" href="https://ilia10101000.github.io/Currency/"><span class="portfolio-name text">Exchange currency monobank API</span></a> 
</div>    