<div class="portfolio-wrapper">

    <a target="_blank" href="https://ilia10101000.github.io/trans-crm/"><span class="portfolio-name text">Trans CRM</span><span><img src='./src/react.png'/><img src='./src/bootstrap.png'/></span></a> 
    <a target="_blank" href="https://ilia10101000.github.io/fake_store/"><span class="portfolio-name text">Fake shop Nova Poshta API</span><span><img src='./src/react.png'/><img src='./src/bootstrap.png'/></span></a> 
    <a target="_blank" href="https://ilia10101000.github.io/Currency/"><span class="portfolio-name text">Exchange currency monobank API</span><span><img src='./src/react.png'/><img src='./src/bootstrap.png'/></span></a> 
    <a target="_blank" href="https://ilia10101000.github.io/react.github.io/"><span class="portfolio-name text">Weather & Google maps API</span><span><img src='./src/react.png'/></span></a> 
    <a target="_blank" href="https://ilia10101000.github.io/Tour-of-learning.github.io/"><span class="portfolio-name text">second pet-project</span><span><img src='./src/html.png'/><img src='./src/css3.png'/><img src='./src/js.png'/></span></a>
    <a target="_blank" href="https://ilia10101000.github.io/Portfolio.github.io/"><span class="portfolio-name text">My first pet-project</span><span><img src='./src/html.png'/><img src='./src/css3.png'/><img src='./src/js.png'/></span></a>

</div>    