<div class="portfolio-wrapper">

<a target="_blank" href="https://ilia10101000.github.io/Portfolio.github.io/"><span class="portfolio-name">First pet-project</span><span><img src='./src/html.png'/><img src='./src/css3.png'/><img src='./src/js.png'/></span></a>
<a target="_blank" href="https://ilia10101000.github.io/Tour-of-learning.github.io/"><span class="portfolio-name">Second pet-project</span><span><img src='./src/html.png'/><img src='./src/css3.png'/><img src='./src/js.png'/></span></a>
<a target="_blank" href="https://ilia10101000.github.io/react.github.io/"><span class="portfolio-name">Weather & Google maps API</span><span><img src='./src/react.png'/></span></a> 
<a target="_blank" href="https://ilia10101000.github.io/Currency/"><span class="portfolio-name">Exchange currency monobank API</span><span><img src='./src/react.png'/><img src='./src/bootstrap.png'/></span></a> 

</div>    